<!-- 
================================================== 
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
  <div class="container-fluid">
    <div class="row">
      {% for item in page.header.items %}
      <div class="block about-feature-{{ loop.index }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay="{{ loop.index * 0.2 + 0.3 }}s">
        <h2>{{ item.title|raw }}</h2>
        <p>{{ item.content|raw }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

