<!-- 
================================================== 
    Clients Section Start
================================================== -->
<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">{{ page.title|raw }}</h2>
        <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">{{ page.content|striptags('<b><strong><br><i><em><blockquote>')|raw }}</p>
        <div id="clients-logo" class="owl-carousel">
          {% for client in page.header.clients %}
          <div>
            <img src="{{ page.media.images[client.image].cache.url() }}" alt="{{ client.alt }}">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>




