<!-- 
================================================== 
    Company Description Section Start
================================================== -->
<section class="company-description">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
        <img src="{{ page.media.images|first.cache.url() }}" alt="{{ page.title }}" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="block">
          <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">{{ page.title }}</h3>
          <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
            {{ page.content|striptags('<b><strong><br><i><em><blockquote>') }}
          </p>
                    
        </div>
      </div>
    </div>
  </div>
</section>

