{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="moduler wrapper_404">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="wow fadeInUp animated" data-wow-delay=".4s">{{ page.title }}</h2>
            <h5 class="wow fadeInUp animated" data-wow-delay=".6s">{{ page.content }}</h5>
            <a href="{{ base_url == '' ? '/' : base_url }}" class="btn btn-default btn-home wow fadeInUp animated" data-wow-delay="1.1s">{{ 'THEME.SITE.GO_HOME'|t }}</a>
          </div>
        </div>
      </div>
    </div>
  </section
  {% include 'partials/cta.html.twig' %}
{% endblock %}
